*{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
}
form{
    border: 1px solid gray;
    padding: 10px;
    margin: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: larger;

}
hr{
    width: 100%;
    height: .5px solid gray;
}
span.block{
    display: block;
}
p.label{
    background-color: rgb(207, 207, 207);
    padding: 10px;
}

input[type="submit"]{
    padding:6px;
    font-size: larger;
    border: none;
    border-radius: 10px;
    background-color: gray;
}
input[type='submit']:hover{
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}
input[type='number']{
    font-size: large;
}
p.Approved ,p.Rejected{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: larger;
    /* margin: 10px; */

}
p.Approved{
    background-color: rgb(190, 255, 93);
}
p.Rejected{
    background-color: rgb(255, 193, 193);
}
#predictionDiv{
    padding: 10px;
}

span.heading{
    font-size: medium;
    /* background-color: rgb(196, 196, 161); */
    /* padding: 5px; */
    font-weight: bold;
    margin:5px
    
}
@media only screen and (min-width:700px){
    form{
        margin-right: 20%;
        margin-left: 20%;
    }
}