<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <div>
        <iframe src='{{url_for("static",filename= "first_figure.html")}}' style="width: 90%;height: 90vh;"></iframe>
        <iframe src='{{url_for("static",filename= "first_figure.html")}}' style="width: 90%;height: 90vh;"></iframe>
        <iframe src='{{url_for("static",filename= "first_figure.html")}}' style="width: 90%;height: 90vh;"></iframe>
    </div>
    
</body>
</html>